* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: "Lucida Grande";
}
  
a {
    text-decoration: none;
}

h2{
    font-size: 24px;
    text-align: center;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    opacity: 90%;
}

.garis{
    margin-left: 100px;
    margin-right: 700px;
}
.header-left {
    float: left;
    margin-left: 75px;
}

.header-right {
    margin-top:-20px;
    float: right;
    margin-right: 50px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.logo {
    width: 50px;
    margin-top:5px;
}

.gambarutama {
    background-image: url('https://s-light.tiket.photos/t/01E25EBZS3W0FY9GTG6C42E1SE/rsfit1920640gsm/events/2020/12/02/6dae2765-b72a-44c2-8fb1-14417031af2d-1606919355593-f4290c7695778ca9f46e676278518585.jpg');
    background-size: cover;
    text-align: center;
    padding: 150px 0;
  }

.gambarutama h1 {
    opacity: 0%;
}

table{
    border-collapse: collapse;
    border:none;
}

.isi h1{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.isi p{
    text-align: justify;
    margin-left: 100px;
    margin-right: 70px;
    margin-bottom: 30px;
}


.destinasi p{
    margin-left:100px;
    text-align: justify;
}

.destinasi hr{
    opacity: 0;
    margin-bottom: 50px;
    
}

.destinasitabel{
    margin:auto;
    text-align: center;
    vertical-align: middle;
}
.destinasitabel td{
    padding-left:40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.destinasitabel img{
    height: 150px;
    width: 200px;
}

.destinasitabel h3{
    font-size: 20px;
}
.kulinertabel{
    margin:auto;
    text-align: center;
}

.kulinertabel td{
    padding: 50px;
}



.kulinertabel img{
    height: 200px;
    width: 300px;
}

.footer{
    height: 200px;
    background-color: rgba(34, 49, 52, 0.9);

}

.footer-mid{
    display: flex;
    justify-content: center;
    align-items: center;
}
